language: python
python:
  - "2.7"
  - "2.6"
  # - "3.3"
env:
  - DJANGO_PACKAGE='Django>=1.5,<1.6'
  - DJANGO_PACKAGE='Django>=1.6,<1.7'
matrix:
  include:
    - python: "2.6"
      env: DJANGO_PACKAGE='Django>=1.4,<1.5'
    - python: "2.7"
      env: DJANGO_PACKAGE='Django>=1.4,<1.5'
install:
  - pip install -q $DJANGO_PACKAGE --use-mirrors
  - pip install --use-mirrors .
  - pip install coveralls
script:
  - coverage run --source=django_pyscss setup.py test
after_success:
  coveralls
